# Ignore virtual environments
venv/

# Python cache files
__pychache__/
*.pyc 

# System files
.DS_Store

# Secrets
.env 

# Data and cache files
*.csv
*.json
*.sqlite3
*.log

# Keep versioned company list
!data/company_slugs.json